@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Serif Text';
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
}

@font-face {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: normal italic;
  src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

@font-face {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
